/Practica 10/nbproject/private/
/Practica 10/build/
/Practica 11/nbproject/private/
/Practica 11/build/
/EjercicioExamenSplit/nbproject/private/
/EjercicioExamenSplit/build/
/Prueba/nbproject/private/
/Prueba/build/
/Examen 3Trimestre/nbproject/private/
/Ejercico1_Examen3Trim/nbproject/private/
/Ejercicio2_Examen3Trim/nbproject/private/
/Ejercicio1_Examen3Trim/nbproject/private/
/Ejercicio1_Examen3Trim/build/
/Ejercicio2_Examen3Trim/build/
/Ejercicio1/build/
/Ejercicio1/dist/
/Ejercicio1/nbproject/private/
/Ejercicio2/build/
/Ejercicio2/nbproject/private/
/Ejer_repaso7/nbproject/private/
/Ejer_repaso7/build/